soap-client/src/main/resources/wsdl/document-literal-wrapped.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.soap.protocols.romanow.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WebServiceDocumentLiteralWrappedImplService" targetNamespace="http://web.soap.protocols.romanow.ru/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://web.soap.protocols.romanow.ru/" elementFormDefault="unqualified" targetNamespace="http://web.soap.protocols.romanow.ru/" version="1.0">
            <xs:element name="processRequest" type="tns:processRequest"/>
            <xs:element name="processRequestResponse" type="tns:processRequestResponse"/>
            <xs:complexType name="processRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TestObjectRequest" type="tns:testObjectRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="testObjectRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="searchString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="processRequestResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TestObjectResponse" type="tns:testObjectResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="testObjectResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:int"/>
                    <xs:element minOccurs="0" name="data" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processRequest">
        <wsdl:part element="tns:processRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="processRequestResponse">
        <wsdl:part element="tns:processRequestResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="WebServiceDocumentWrapped">
        <wsdl:operation name="processRequest">
            <wsdl:input message="tns:processRequest" name="processRequest"/>
            <wsdl:output message="tns:processRequestResponse" name="processRequestResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceDocumentLiteralWrappedImplServiceSoapBinding" type="tns:WebServiceDocumentWrapped">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processRequest">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="processRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebServiceDocumentLiteralWrappedImplService">
        <wsdl:port binding="tns:WebServiceDocumentLiteralWrappedImplServiceSoapBinding" name="WebServiceDocumentLiteralWrappedImplPort">
            <soap:address location="http://127.0.0.1:8880/ws/document-literal-wrapped"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
