soap-client/src/main/resources/wsdl/document-literal.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.soap.protocols.romanow.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WebServiceDocumentLiteralImplService" targetNamespace="http://web.soap.protocols.romanow.ru/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://web.soap.protocols.romanow.ru/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://web.soap.protocols.romanow.ru/">
            <xs:complexType name="testObjectRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="searchString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="testObjectResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:int"/>
                    <xs:element minOccurs="0" name="data" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TestObjectRequest" nillable="true" type="testObjectRequest"/>
            <xs:element name="TestObjectResponse" nillable="true" type="testObjectResponse"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processRequest">
        <wsdl:part element="tns:TestObjectRequest" name="TestObjectRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="processRequestResponse">
        <wsdl:part element="tns:TestObjectResponse" name="TestObjectResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WebServiceDocumentLiteral">
        <wsdl:operation name="processRequest">
            <wsdl:input message="tns:processRequest" name="processRequest"> </wsdl:input>
            <wsdl:output message="tns:processRequestResponse" name="processRequestResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceDocumentLiteralImplServiceSoapBinding" type="tns:WebServiceDocumentLiteral">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processRequest">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="processRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebServiceDocumentLiteralImplService">
        <wsdl:port binding="tns:WebServiceDocumentLiteralImplServiceSoapBinding" name="WebServiceDocumentLiteralImplPort">
            <soap:address location="http://localhost:8880/ws/document-literal"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>