soap-client/src/main/resources/wsdl/rpc-literal.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.protocols.romanow.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WebServiceRpcLiteralImplService" targetNamespace="http://web.protocols.romanow.ru/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://web.protocols.romanow.ru/" version="1.0">
            <xs:complexType name="testObjectRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="searchString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="testObjectResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:int"/>
                    <xs:element minOccurs="0" name="data" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processRequest">
        <wsdl:part name="TestObjectRequest" type="tns:testObjectRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="processRequestResponse">
        <wsdl:part name="TestObjectResponse" type="tns:testObjectResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WebServiceRpcLiteral">
        <wsdl:operation name="processRequest">
            <wsdl:input message="tns:processRequest" name="processRequest"></wsdl:input>
            <wsdl:output message="tns:processRequestResponse" name="processRequestResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceRpcLiteralImplServiceSoapBinding" type="tns:WebServiceRpcLiteral">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processRequest">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="processRequest">
                <soap:body namespace="http://web.protocols.romanow.ru/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="processRequestResponse">
                <soap:body namespace="http://web.protocols.romanow.ru/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebServiceRpcLiteralImplService">
        <wsdl:port binding="tns:WebServiceRpcLiteralImplServiceSoapBinding" name="WebServiceRpcLiteralImplPort">
            <soap:address location="http://127.0.0.1:8880/ws/rpc-literal"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>